<h1>Data Imports</h1>

<h4><a id="show_upload" href="#">Upload a new data file</a></h4>

<div id="upload_form" style="display:none;">
  <%= form_tag imports_path, multipart: true do %>
    <%= file_field_tag :import_file %>
    <%= submit_tag 'Upload' %>
    &nbsp;<a id="hide_upload" href="#">cancel</a>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>File Name</th>
      <th>Date Uploaded</th>
      <th>Revenue</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.file_name %></td>
        <td><%= import.created_at%></td>
        <td><%= number_to_currency(import.revenue) %></td>
        <td><%= link_to "View", import_path(import) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Total Revenue: <%= number_to_currency(@total_revenue) %></h3>

<script>
  var show_upload = $("#show_upload");
  var hide_upload = $("#hide_upload");
  var upload_form = $("#upload_form");

  show_upload.on('click', function() {
    $(this).hide();
    upload_form.show();
  });

  hide_upload.on('click', function() {
    upload_form.hide();
    show_upload.show();
  });
</script>
